// A jQuery UI datepicker theme based on https://gist.github.com/miwahall/7028640

.ui-datepicker {
	display: none;
	width: 240px;
	border: 1px solid #66afe9;
	border-radius: 4px;
	margin-top: 4px;
	padding: 10px;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
	background-color: #fff;
	a,
	a:hover {
		text-decoration: none;
	}
	a:hover,
	td:hover a {
		color: #2A6496;
	}
	.ui-datepicker-header {
		margin-bottom: 4px;
		text-align: center;
	}
	.ui-datepicker-title {
		font-weight: 700;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		width: 30px;
		height: 20px;
		cursor: default;
		margin-top: 2px;
		line-height: 1;
		font-family: 'dashicons';
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-weight: normal;
	}
	.ui-datepicker-prev {
		float: left;
		text-align: left;
		&:before {
			content: "\f341";
		}
	}
	.ui-datepicker-next {
		float: right;
		text-align: right;
		&:before {
			content: "\f345";
		}
	}
	.ui-icon {
		display: none;
	}
	.ui-datepicker-calendar {
		table-layout: fixed;
		width: 100%;
	}
	.ui-datepicker-calendar {
		th, td {
			padding: 4px 0;
			text-align: center;
		}
	}
	.ui-datepicker-calendar td {
		border-radius: 4px;
		&:hover {
			background-color: #eee;
			cursor: pointer;
		}
		a {
			text-decoration: none;
		}
	}
	.ui-datepicker-current-day {
		background-color: #4289cc;
		a {
			color: #fff;
		}
	}
	.ui-datepicker-calendar .ui-datepicker-unselectable {
		color: #aaa;
		&:hover {
			background-color: #fff;
			cursor: default;
		}
	}
}
